body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    /* background-color:yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    width: 75%;
    display: flex;
    /* background-color:yellow; */
    justify-content: center;
    align-items: center;
}
header > h1{
    font-size: 40px;
}
header > p{
    display:none;
}
main{
    width: 75%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 50px;
}
#camImg,
#camImg2{
    width: 300px;
}
main > div> {
    width: 50%;
    cursor: pointer;
    background-color:grey;
    justify-content: center;
}
main > div> input{
    width: 100%;
    cursor: pointer;
    
}
main > div> p{
    display: flex;
    /* width : 200px; */
    font-size:20px;
    height: 60px;
    background-color: #0099B0;
    color:whitesmoke;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
/* main > p{
    display: none;
} */
img{
    width:40%;
}
section > h1{
    color:#0099B0;
}
section > form > select{
    visibility:none;    

}

.modalContainer {
    display: none;
    position:fixed;
    top: 5%;
    right: 15%;
    left: 15%;
    bottom: 30%;
    /* border: 0.5px solid grey; */
    border-radius: 50px;
    width: 70%;
    margin : 0;
    /* width: 90%;
    height: 80%; */
    font-size: 20px;
    /* justify-content:center; */
    flex-direction:column;
    align-items: center;
    background:rgb(255,255,255,0.99);
    color:black;
    z-index: 100;
}
.dome_image {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.dome_image > input {
    width: 40%;
    justify-content:center;
    align-items: center;

}
.dome_image > p {
    font-size:20px;
    display:flex;
    flex-direction: column;
}
.dome_image > p >span{
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    color:whitesmoke;
    display:flex;
}
.spanCode{
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color:rgb(246, 171, 0);    
    display:flex;
}
.modelName{
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color:#0099B0; 
    display:flex;
}
.bullet_image {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.bullet_image > input {
    width: 40%;
    justify-content:center;
    align-items: center;
}
.bullet_image > p {
    font-size:20px;
    display:flex;
    flex-direction: column;
}
.bullet_image > p >span{
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    color:whitesmoke;
    display:flex;
}
.spd_image {
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
.spd_image > input {
    width: 40%;
    justify-content:center;
    align-items: center;
}
.spd_image > p {
    font-size:20px;
    display:flex;
    flex-direction: column;
}
.spd_image > p >span{
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    color:whitesmoke;
    display:flex;
}

.select_cam_window{
    margin-bottom:50px;
}
.btnDiv{
    display:flex;
    flex-direction: row;
}
#spdCamType > option{
    cursor: pointer;

}
.SPNO{
    /* background-color:red; */
    flex-direction: column;
    justify-items: center;
    align-items:center;
    flex-wrap: wrap; 
}
.s3283whx{
    width:250px;
    height:150px;
    /* background-color:red; */
    /* flex-direction: column;
    justify-items: center;     */
}
.bracket,
.sunshield{
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
select{
    color: black;
    border : 0.5px solid grey;
    font-size: 20px;
    justify-items:center;
    font-family: 'Noto Sans KR', sans-serif;
}

.nextBtn{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: darkgreen;
    color: white;
    border-radius:3px;
    width:50px;
    height:30px;
    border : 0px;
    cursor: pointer;
    justify-content:center;
    margin: 10px;
}


.openWindow{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: darkgray;
    color: white;
    border-radius:3px;
    width:100px;
    height:30px;
    border : 0px;
    cursor: pointer;
    justify-content:center;
    margin: 10px;
}
.closeReset,
.closeReset1,
.closeReset2{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #e7e8ea;
    color: #1b1c28;
    justify-content:center;
    border-radius:3px;
    width:100px;
    height:30px;
    border : 0px;
    cursor: pointer;
    margin: 10px;
    display:none;
}

.closeWindow{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0099B0;
    color: white;
    border-radius:3px;
    width:100px;
    height:30px;
    border : 0px;
    cursor: pointer;
    margin: 10px;
}


@media screen and (max-width:660px) {
#camImg,
#camImg2{
    width: 200px;
}
}

@media screen and (max-width:578px) {
 
    
    .spd_image {
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .spd_image > input {
        width: 40%;
        justify-content:center;
        align-items: center;
    }
    .spd_image > p {
        width: 60%;
        font-size:15px;
        display:flex;
        flex-direction: column;
    }
    .spd_image > p >span{
        font-size:15px;
        font-family: 'Noto Sans KR', sans-serif;
        color:whitesmoke;
        display:flex;
    }
    .SPNO{
        /* background-color:red; */
        flex-direction: column;
        justify-items: center;
        align-items:center;
        flex-wrap: wrap; 
    }
    
    .s3283whx{
        width:150px;
        height:80px;
        /* background-color:red; */
        /* flex-direction: column;
        justify-items: center;     */
    }
    .bracket,
    .sunshield{
        width: 200px;
        height: 100px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    header {
        flex-direction: column;
        padding: 50px;
        /* background-color:grey; */
    }
    header > h1{
        display:none;
    }

    header > p{
        display: flex;
        font-size:40px;
        border: weight;
        font-family: Hawaii 5-0, sans-serif;
        margin: 1px;        
    }
    
    main{
        width: 80%;
        display: flex;
        /* background-color:grey; */
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    main > input{
        width: 100%;
    }
    main > div {
        display: flex;
        width : 100%;
        font-size:20px;
        background-color: #0099B0;
        color:whitesmoke;
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
    main > div> p{
        display: flex;
        /* width : 200px; */
        font-size:20px;
        background-color: #0099B0;
        color:whitesmoke;
        font-family: 'Noto Sans KR', sans-serif;
        justify-content: center;
        align-self: center;
    }
  
    .modalContainer {
        display: none;
        position:fixed;
        top: 5%;
        right: 5%;
        left: 5%;
        bottom: 10%;
        /* border: 0.5px solid grey; */
        border-radius: 50px;
        width: 90%;
        margin : 0;
        /* width: 90%;
        height: 80%; */
        font-size: 20px;
        /* justify-content:center; */
        flex-direction:column;
        align-items: center;
        background:rgb(255,255,255,0.99);
        color:black;
        z-index: 100;
    }

}