body{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    /* background-color:yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    width: 75%;
    display: flex;
    /* background-color:yellow; */
    justify-content: center;
    align-items: center;
}
header > p{
    display:none;
}
main{
    width: 75%;
    display: flex;
    /* background-color:grey; */
    justify-content:space-around;
    align-items: center;
}
main > input{
    width: 50%;
    cursor: pointer;
}
main > p{
    display: none;
}
img{
    width:40%;
}
section > h1{
    color:#0099B0;
}
section > form > select{
    visibility:none;    

}

.modalContainer {
    display: none;
    position:absolute;
    top: 5%;
    right: 15%;
    left: 15%;
    bottom: 30%;
    border: 0.5px solid grey;
    border-radius: 50px;
    width: 70%;
    margin : 0;
    /* width: 90%;
    height: 80%; */
    font-size: 20px;
    /* justify-content:center; */
    flex-direction:column;
    align-items: center;
    background:rgb(255,255,255,0.99);
    color:black;
    z-index: 100;
}
.dome_image {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.dome_image > input {
    width: 40%;
    justify-content:center;
    align-items: center;

}
.dome_image > p {
    font-size:1.2vw;
    display:flex;
    flex-direction: column;
}
.dome_image > p >span{
    font-size:1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    color:#0099B0;
    display:flex;
}
.bullet_image {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.bullet_image > input {
    width: 40%;
    justify-content:center;
    align-items: center;
}
.bullet_image > p {
    font-size:1.2vw;
    display:flex;
    flex-direction: column;
}
.bullet_image > p >span{
    font-size:1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    color:#0099B0;
    display:flex;
}
.spd_image {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.spd_image > input {
    width: 40%;
    justify-content:center;
    align-items: center;
}
.spd_image > p {
    font-size:1.2vw;
    display:flex;
    flex-direction: column;
}
.spd_image > p >span{
    font-size:1.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    color:#0099B0;
    display:flex;
}
.select_cam_window{
    margin-bottom:50px;
}
.btnDiv{
    display:flex;
    flex-direction: row;
}
#spdCamType > option{
    cursor: pointer;

}

.openWindow{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: darkgray;
    color: white;
    border-radius:3px;
    width:100px;
    height:30px;
    border : 0px;
    cursor: pointer;
    justify-content:center;
    margin: 10px;
}
.closeReset,
.closeReset1,
.closeReset2{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #e7e8ea;
    color: #1b1c28;
    justify-content:center;
    border-radius:3px;
    width:100px;
    height:30px;
    border : 0px;
    cursor: pointer;
    margin: 10px;
    display:none;
}

.closeWindow{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0099B0;
    color: white;
    border-radius:3px;
    width:100px;
    height:30px;
    border : 0px;
    cursor: pointer;
    margin: 10px;
}


@media screen and (max-width:500px) {
    header {
        flex-direction: column;
        padding: 50px;
        /* background-color:grey; */
    }
    header > h1{
        display:none;
    }

    header > p,
    div{
        display: flex;
        font-size:30px;
        font-family: 'Noto Sans KR', sans-serif;
        margin: 1px;        
    }
    
    main{
        width: 90%;
        display: flex;
        /* background-color:grey; */
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
    }
    main > input{
        width: 70%;
    }
    main > p{
        display: flex;
        font-size:20px;
        background-color: #0099B0;
        color:whitesmoke;
        font-family: 'Noto Sans KR', sans-serif;
        margin: 5px;
    }
    .SP,
    .IRSP,
    .FE,
    .ETC{
        font-size: 20px;

    }
    

    .modalContainer {
        display: none;
        position:fixed;
        top: 5%;
        right: 5%;
        left: 5%;
        bottom: 10%;
        border: 0.5px solid grey;
        border-radius: 50px;
        width: 90%;
        margin : 0;
        /* width: 90%;
        height: 80%; */
        font-size: 20px;
        /* justify-content:center; */
        flex-direction:column;
        align-items: center;
        background:rgb(255,255,255,0.99);
        color:black;
        z-index: 100;
    }

}