a{
    text-decoration: none;

}
body{
    font-family: 'Noto Sans KR', sans-serif;
    z-index: 1;
    height: 100%;
}
header{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100px;
    background-color:#F5F5F5;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    padding: 5px;
}
.logo{
    padding-left:30px;
}
.headerRight{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:right;
    padding: 5px;

}
.idisHomepage{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    width: 150px;
    height: 40px;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: grey;
    color: whitesmoke;
    margin : 10px;
}
details[open]{
    background-color:#cdedfd;
    background-image:LinearGradient(
        319deg,
        #cdedfd 0%,
        #ffec82 37%,
        #ffcfd2 100%
    );
}
.idisHomepage:hover{
    border-radius: 20px;
    background-color:rgb(0, 153, 176);
    color: whitesmoke;
    border: none;
}
.logo{
    width: 150px;
    height: 80px;
    display: flex;
}

nav{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 50px;
    background-color:rgb(0, 153, 176);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #212529;
    margin-bottom: 10px;
}
h1{
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
.navList{
    font-family: 'Noto Sans KR', sans-serif;
    background-color:rgb(0, 153, 176);
    color: whitesmoke;
}
.navBlank{
    width: 100%;
    height: 2%;
    /* background-color: blue; */
    display: flex;
}
.container{
    width: 100%;
    height: 50%;
    /* background-color:blue; */
    /* align-content: space-between; */
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.containerBox{
    width: 100%;
    height: 100%;
    /* align-content: space-between; */
    justify-content:space-between;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
}
.mainSection{
    /* background-color:yellow; */
    display: flex;
    justify-content: center;

}
section{
    /* background-color:red; */
    width:90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-flow:row wrap;
    /* padding: 30px; */
}
.cctvImage{
    width: 250px;
    height: 180px;
    border-radius: 40px;
    display: flex;
    padding: 10px;
    z-index: 0;
}
.cctvImage:hover{
    border-radius: 40px;
    background-color:rgb(255, 222, 32);
}

section > a >img {
    width: 260px;
    height: 180px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 0;
    background-color: red;
}
section > a >img:hover{
    border-radius: 40px;
    background-color:rgb(255, 222, 32);
}

/* aside{
    width: 20%;
    height: auto;
    background-color:whitesmoke;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
} */
h1{
    font-family: 'Noto Sans KR', sans-serif;
}
footer{
    width: 100%;
    height: 30%;
    flex-wrap: wrap;
    float:bottom;
    align-items:center;
    padding-top: 25px;
    position:fixed;

}
.footerTop{
    width: 100%;
    height: 100px;
    background-color: #2c3e50;
    color: white;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;


}
i{
    color: white; 
    font-size:2em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.spanOne{
    font-size:1.5em; 
    display: flex;
    justify-content: center;
    text-align: center;
    color:rgb(80, 167, 194);
    padding: 5px;
    padding-top: 10px;
}
.footerBottom{
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 50px;
    background-color: #1a252f;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.8rem;

}
.address{
    font-family: 'Noto Sans KR', sans-serif;
    width: 400px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 10px; */
}

.homepage{
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.techPhone{
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.techPhone > span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vw;
}

.modalContainer {
    display: none;
    position: fixed;
    top: 5%;
    right: 5%;
    left: 5%;
    bottom: 1%;
    border: 0.5px solid grey;
    border-radius: 50px;
    font-size: 20px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background:rgb(255,255,255,0.99);
    z-index: 100;
}
.modalContainer > .modalHdtvi_div{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modalContainer > .modalHdtvi_div >h1> span{
    justify-content: center;
    display: flex;
}

/* 담당자 연락처 모달 */
.modalContainerSmall {
    font-family: 'Noto Sans KR', sans-serif;
    display: none;
    position:fixed;
    top: 10px;
    right: 20px;
    width: 450px;
    border: 0.5px solid rgb(0, 153, 176);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgb(255,255,255,0.99);
    padding :10px;
    color:black;
    font-size:20px;
    z-index: 100;
    /* column-rule: 2px solid; */
}
.modalContainerSmall > div {
    column-count: 2;
    column-width: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding:5px;
    flex-direction: row;
}
.modalContainerSmall > div >img {
    display: flex;
    align-items: center;
    justify-content:right;
    width:30%;
    padding-left: 20px;
    padding-right: 3px;
}
/* .modalContainerSmall > div > p {
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    width:55%;
    padding-left: 10px;
} */
table{
    /* border: 1px grey solid; */
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 80%;
    padding: 0%;
    margin-top: 30px;
    overflow: auto;
    margin: 15px;
}
/* 모달창 닫기 버튼 */
.btnClose{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    width: 100px;
    height: 40px;
    padding: 0%;
    border-radius: 10px;
    border: 0;
    justify-content: center;
    font-size: 20px;
    color: whitesmoke;
    background-color: #0099B0;
    cursor: pointer;   
    margin-bottom: 1%;
}
/* 담당자 소개 닫기 버튼 */
.btnC{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    width: 80px;
    height: 30px;
    padding: 0%;
    border-radius: 30px;
    border: 0;
    justify-content: center;
    font-size: 15px;
    color: whitesmoke;
    background-color: #0099B0;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
#costCheck{
    background-color: grey;
    color: whitesmoke;
    width: 50px;
    height: 30px;
    align-content: center;
    justify-content: center;
    text-align: center;
    border: ridge;
    border-radius: 20%;
    vertical-align: middle;
    cursor: pointer;
}

.img-flex1 {
    width: 50%;
    display: flex;
}

.img-flex2 {
    width: 40%;
    display: flex;
    padding: 5px;
}
.img-flex3 {
    width: 15%;
    display: flex;
    padding: 5px;
}
.ckb{
    width: 5%;
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    word-break:break-all;
}
.img{
    width: 15%;
    display: flex;
    /* background-color: #0099B0; */
    justify-content: center;
    align-items: center;
    border: 1px white solid;
}
.code{
    width: 15%;
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    word-break:break-all;
}
.spec{
    width: 40%;
    display: flex;
    /* background-color:white; */
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    word-break:break-all;
}
.cost{
    width: 10%;
    display: flex;
    /* background-color:white; */
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    word-break:break-all;

}
.hdTable1{
    border: 0.4px grey solid;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
    background-color: #0099B0;
    font-size: 0.8em;
    height: 40px;
    color: var(--bs-dark);
    font-family: sans-serif;
    /* word-break:break-all; */
}

.hdTable2{
    border: 0.1px darkgrey;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* background-color: orange; */
    background:rgb(160, 200, 222,0.2);
    font-size: 0.9rem;
    height: 80px;
}

/*  작은화면 */

@media screen and (max-width:650px) {
    .homepage{
        display: none;
    }
    .logoHomepage{
        display: none;
    }
    .btnClose{
        display: flex;
        width: 15%;
        height: 4%;
        padding: 0%;
        border-radius: 10px;
        border: 0;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        color: whitesmoke;
        background-color: #0099B0;
        cursor: pointer;   
        margin-bottom: 1%;
    }
    
        nav{
            width: 100%;
            height: 50px;
            background-color:rgb(0, 153, 176);
        }
    }


/* 모바일 */

@media screen and (max-width:450px) {
    .address{
        display: none;
    }
    .logo{
        padding-left:0px;
    }
    .homepage{        
        display: none;
    }
    .idisHomepage{
        display: none;
    }
    .ckb {
        display:none;
    }
    header{
        width: 100%;
        height: 90px;
        background-color:#F5F5F5;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content:center;
    }
    .headerRight{
        display: none;
    }
    nav{
        width: 100%;
        height: 60px;
        background-color:rgb(0, 153, 176);
    }
    nav > h1{
        font-size: 25px;    
    }
    h1{
        font-size: 8vw;
    }
    section{
        /* background-color:red; */
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 10px;
        flex-wrap: wrap;
        flex-flow: row 3;
        /* padding: 30px; */
        overflow: hidden;
    
    }
    .cctvImage{
        width: 45%;
        height: 45%;
        border-radius: 30px;
        display: flex;
        padding: 5px;
    }
    
section > a >img {
    width: 180px;
    height: 120px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 0;
    background-color: red;
}
    .modalContainer {
        display: none;
        position:absolute;
        width: 95%;
        height:100%;
        top: 1%;
        right: 5%;
        left: 5%;
        bottom: 1%;
        border: 0.5px solid grey;
        border-radius: 40px;
        font-size: 15px;
        justify-content:space-between;
        /* align-items: center;
        flex-direction: column; */
        background:rgb(255,255,255,0.99);
        z-index: 100;
    }


    .footerTop{
        width: 100%;
        height: 65px;
        font-size: 13px;
        background-color: #2c3e50;
        color: white;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        }
    .footerBottom{
        width: 100%;
        height: 30px;
        font-size: 10px;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        flex-direction: column;
        display: flex;
        }        
    .img-flex1 {
        width: 50%;
        display: flex;
    }
    
    .img-flex2 {
        width: 40%;
        display: flex;
        padding: 5px;
    }
    .img-flex3 {
        width: 15%;
        display: flex;
        padding: 5px;
    }
    .img{
        width: 10%;
        display: flex;
        font-size: 10px;
        /* background-color: #0099B0; */
        justify-content: center;
        align-items: center;
        border: 1px white solid;
    }
    .code{
        width: 20%;
        font-size: 10px;
        display: flex;
        /* background-color: blue; */
        justify-content: center;
        align-items: center;
        border: 1px white solid;
        word-break:break-all;
    }
    .spec{
        width: 30%;
        font-size: 10px;
        display: flex;
        /* background-color:white; */
        justify-content: center;
        align-items: center;
        border: 1px white solid;
        word-break:break-all;
    }
    .cost{
        width: 15%;
        display: flex;
        font-size: 10px;
    }
    #costCheck{
        width: 70%;
        height:30%;
        display: flex;
        font-size:10px;
    }
    .hdTable1{
        border: 0.4px grey solid;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        /* flex-wrap: wrap; */
        background-color: #0099B0;
        font-size: 15px;
        height: 40px;
        color: var(--bs-dark);
        font-family: sans-serif;
        /* word-break:break-all; */
    }
    
    .hdTable2{
        border: 0.1px darkgrey;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* flex-wrap: wrap; */
        /* background-color: orange; */
        background:rgb(160, 200, 222,0.2);
        font-size: 10px;
        height: 80px;
    }
    .btnClose{
        display: flex;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom:20px;
        font-size: 10px;

    }

}


/* 태블릿 PC */
/* @media screen and (max-width:768px) {
    .address{
        display: none;
    }
    .homepage{        
        display: none;
    }
    .footerTop{
        font-family: 'Noto Sans KR', sans-serif;
        width: 100%;
        height: 100px;
        background-color: #2c3e50;
        color: white;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }
    .hdTable1{
        font-size:0.8em;
    }
    #idisHomepages{
        display:none;
    }
    table{
        width: 85%;
        height: 80%;
        padding: 0%;
        margin-top: 30px;
        overflow: auto;
        margin: 0px;
    }
    .code{
        width: 200px;
    }
    .spec{
        width: 50%;
        display: flex;
        /* background-color:white; */
        /* justify-content: center;
        align-items: center;
        border: 1px white solid;
        word-break:break-all;
    }
    .cost{
        width: 100px;
    }
    .ckb {
        display:none;
    }
    .img{
        display:none;
    }
    .modalContainer {
        display: none;
        position:absolute;
        top: 1%;
        right: 5%;
        left: 5%;
        bottom: 1%;
        border: 0.5px solid grey;
        border-radius: 50px; */
        /* width: 90%;
        height: 80%; */
        /* font-size: 20px;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
        background:rgb(255,255,255,0.99);
        z-index: 100;
    }
    .btnClose{
        display: flex;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        margin-bottom:20px;
        font-size: 0.9em;

    }
    #costCheck{
        font-size: 0.9em;
    }

} */
